__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/
exp/
outputs/
hydra_log/
tensorboard/
wandb/

*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.onnx
*.zip

*.log
*.jsonl
*.scp
*.wav
*.flac
*.tar
*.mvn
*.model
